<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/barraNavegacion :: head">
    </head>
    <body>
        <h2>Lista de Empleados</h2>
        <header th:replace="layout/barraNavegacion :: header"></header>
        <br/>
        <br/>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Residencia</th>
                    <th>Cedula</th>
                    <th>Correo</th>
                    <th>Modificar </th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${empleados}">
                    <td th:text="${item.nombre}"></td>
                    <td th:text="${item.apellido}"></td>
                    <td th:text="${item.residencia}"></td>
                    <td th:text="${item.cedula}"></td>
                    <td th:text="${item.correo}"></td>
                    <td><a th:href="@{/empleado/modificar/} + ${item.idEmpleado}">Actualizar</a></td>
                    <td><a th:href="@{/empleado/eliminar/} + ${item.idEmpleado}">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/empleado/nuevo}">Nuevo</a>
    </body>
</html>
