<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title>Tienda</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" th:href="@{/css/style.css}" />
                <link rel="stylesheet" th:href="@{/css/contenido.css}" />
                <link  rel="stylesheet" th:href="@{/css/menu.css}" />
                </head>
                <body>
                    <header th:replace="layout/plantilla :: header"></header>
                    <section th:replace="layout/plantilla :: contenido"></section>
                    <footer th:replace="layout/plantilla :: piePagina"></footer>
                </body>
                </html>
