
<html>
    <head th:replace="layout/barraNavegacion :: head">
        <title>Reportes</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <header th:replace="layout/barraNavegacion :: header"></header>
        <section id="contenido">
            <div class="container" style="margin-top: 110px; color: white">
                <div class="row">
                    <div class="col-md-14">
                        <div class="card">
                            <div class="card-header">
                                <h4>Reportes</h4>
                            </div>
                            <table class="table table-stryped">
                                <thead>
                                    <tr>
                                        <th>Tipo de Reporte</th>
                                        <th>Descripción</th>
                                        <th>Modificar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${reportes}">
                                        <td th:text="${item.tipoReporte}"></td>
                                        <td th:text="${item.descripcion}"></td>
                                        <td><a class="btn" th:href="@{/reporte/modificar/} + ${item.idReporte}">Modificar</a></td>
                                        <td><a class="btn" th:href="@{/reporte/eliminar/} + ${item.idReporte}">Eliminar</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
            </div>
        </section>
        <footer th:replace="layout/piePagina :: piePagina" ></footer>
    </body>
</html>
