<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">

    <head th:fragment="head">
        <title>Tienda</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" th:href="@{/css/contenido.css}" />
        <link  rel="stylesheet" th:href="@{/css/menu.css}" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav href="index.html" class="logo">LOGO</nav>
            <nav class="menu">
                <ul class="nav-link">
                    <li>
                        <a th:href="@{/}">Hogar</a>
                    </li>
                    <li>
                        <a th:href="@{/productos/}">Productos</a>
                    </li>   
                    <li>
                        <a th:href="@{/carrito/listado}">Destacados</a> 
                    </li>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
                </ul>
            </nav>
            
            <div>
                 <a th:href="@{/empleado/}"  class="acceso" sec:authorize="hasRole('ROLE_ADMIN')">
                    <i class="fas fa-briefcase"></i>
                </a>
                
                <a th:href="@{/formulario/nuevo}"  class="acceso" sec:authorize="hasRole('ROLE_USER')">
                    <i class="fas fa-briefcase"></i>
                </a>

                <a th:href="@{/favorito/listado}" class="acceso" sec:authorize="hasRole('ROLE_USER')">
                    <i class="fas fa-heart"></i>
                </a>
                <a th:href="@{/carrito/listado}" class="acceso" sec:authorize="hasRole('ROLE_USER')">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <a href="#" id="inventario" class="acceso" sec:authorize="hasRole('ROLE_ADMIN')" >
                    <i class="fas fa-plus-circle"></i>
                </a>

                <a href="#" id="reportes" class="acceso"  sec:authorize="hasRole('ROLE_ADMIN')" >
                    <i class="fas fa-file"></i>
                </a>

                <a th:href="@{/perfil/}" id="perfil" class="registrarse">
                    <i class="fas fa-user"></i>
                </a>
            </div>
            
        </header>
    </body>
</html>
