<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaft.org">
    <head>
        <title>Tienda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="menu">
            <div><h1>Logo</h1></div>
            <nav class="nav-menu">
                <a th:href="@{/}">Hogar</a>
                <a th:href="@{/productos/}">Productos</a>
                <a href="">Destacados</a>
                <a href="">Promociones</a>
                <a href="">Contacto</a>
                <a th:href="@{/trabajo/}">icono de Portafolio</a>
                <a th:href="@{/favorito/}">♡</a>
                <a th:href="@{/carrito/}">icono del carrito de compras</a>
                <a th:href="@{/perfil/}">icono de usuario</a>
            </nav>
        </header>
    </body>
</html>
