<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title>Tienda</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

                </head>
                <body>
                    <header th:replace="layout/plantilla :: header"></header> 
                    <br/>
                    <form th:action="@{/formulario/guardar}" method="post" th:object="${formulario}" >
                        <input type="hidden" name="idPersona" th:field="*{idPersona}">
                            <label for="nombre">Nombre: </label>
                            <input type="text" id="nombrecv" name="nombre" th:field="*{nombre}" />
                            <br/>
                            <label for="apellido">Apellidos: </label>
                            <input type="text" id="apellidoscv" name="apellidos" th:field="*{apellido}" />
                            <br/>
                            <label for="telefono">Telefono: </label>
                            <input type="tel" id="telefonocv" name="telefono" th:field="*{telefono}" />
                            <br/>
                            <label for="correo">Correo: </label>
                            <input type="email" id="correocv" name="correo" th:field="*{correo}" />
                            <br/>          
                            <input type="submit" name="Enviar" value="Enviar"/>
                    </form>
                </body>
                </html>
