
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Tienda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layout/plantilla :: menu"></header>
        <h2>Productos</h2>
        <table border="1">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Color</th>
                                <th>Tipo</th>
                                <th>Descripcion</th>
                                <th>Codigo de Producto</th>
                                <th>Stock</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${productos}">
                                <td th:text="${item.nombreProducto}"></td>
                                <td th:text="${item.color}"></td>
                                <td th:text="${item.tipo}"></td>
                                <td th:text="${item.descripcion}"></td>
                                <td th:text="${item.codigoProducto}"></td>
                                <td th:text="${item.stock}"></td>
                                <td th:text="${item.precio}"></td>
                            </tr>
                        </tbody>
                    </table>
    </body>
</html>
