<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/barraNavegacion :: head">
    </head>
    <body>
        <header th:replace="layout/barraNavegacion :: header"></header>
        <section id="contenido">
            <div class="texto">
                <p>¡BIENVENIDO!</p> 
                <h1>TENEMOS LOS MEJORES<br> PRODUCTOS DEL PAÍS</h1>
                <h5>TE INTERESA SABER COMO COMPRAR NUESTROS PRODUCTOS, <br>ENTRA AQUÍ Y CONSIGUE NUESTROS PRODUCTOS</h5>
                <br/>
                <a class="btn" th:href="@{/productos/}">Ver Productos ></a>
            </div>
            <div class="imagen">
                <img th:src="@{/images/tienda.png}"  alt="Imagen de decoración" width="50%"/>
            </div>
        </section>
        <footer th:replace="layout/piePagina :: piePagina" ></footer>
    </body>
</html>
