<!DOCTYPE html>
<html <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="contenido">
            <form method="POST" th:action="@{/login}">
                <label for="username" >Username</label>
                <br/>
                <input type="text" name="username" id="username"/>
                <br/>
                <br/>
                <label for="password"  >Password</label>
                <br/>
                <input type="text" name="password" id="password"/>
                <br/>
                <br/>
                <button type="submit" th:value="Login" name="iniciar" >Login</button>
            </form>
        </div>
        <a th:href="@{/usuario/nuevo}">Registrarse</a>
    </body>
</html>
