<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/barraNavegacion :: head">
    </head>
    <body>
        <header th:replace="layout/barraNavegacion :: header"></header>
         <section id="contenido">
            <br/>
            <div class="perfil">
                <header><i class="fas fa-user-times"></i></header>
                <br/>
                <div class="d-grid gap-2 col-3 mx-auto">
                    <a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true" style="text-align: initial;" >Editar Perfil</a>
                    <a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true" style="text-align: initial;">Historial de Compras</a>
                    <button  type="button" class="btn btn-primary btn-sm"><a th:href="@{/tarjeta/listado}">Metodos de pago</a></button>
                    <form method="POST" th:action="@{/logout}"/>
                        <a href="#" onclick="this.parentNode.submit();" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true" style="text-align: initial;">
                            Cerrar sesion
                        </a>
                    <a  th:href="@{/reportes/}" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true" style="text-align: initial;">Reportes</a>
                </div>
            </div>
        </section>
        <footer th:replace="layout/piePagina :: piePagina" ></footer>
    </body>
</html>
