<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/barraNavegacion :: head">
    </head>
    <body>
        <header th:replace="layout/barraNavegacion :: header"></header>
        <br/>
        <div id="perfil">
            <header><i class="fas fa-user-times"></i></header>
            <br/>
            <p>Editar Perfil</p>
            <a href="url">Historial de compras</a>
            <br/>
            <a th:href="@{/tarjeta/listado}">Metodos de pago</a>
            <br/>
            <a th:href="@{/reporte/listado}">Reportes</a>
            <br/>
            <form method="POST" th:action="@{/logout}">
                <a href="#" onclick="this.parentNode.submit();" class="nav-link">
                    Cerrar sesion
                </a>

        </div>
    </body>
</html>
