<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Tienda</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>
                    <header th:replace="layout/plantilla :: header"></header>
                    <br/>
                    <div id="perfil">
                        <header>icono de usuario</header>
                        <br/>
                        <p>Editar Perfil</p>
                        <a href="url">Historial de compras</a>
                        <br/>
                        <a href="url">Metodos de pago</a>
                        <br/>
                        <form method="POST" th:action="@{/logout}">
                            <a href="#" onclick="this.parentNode.submit();" class="nav-link">
                                <i class="fas fa-user-times"></i> salir
                            </a>

                    </div>
                </body>
                </html>
