<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head>
        <title>Tienda</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" th:href="@{/css/contenido.css}" />
        <link  rel="stylesheet" th:href="@{/css/menu.css}" />
    </head>
    <body>
        <header th:replace="layout/barraNavegacion :: header"></header>
        <section id="contenido">
            <h2 th:each="item : ${metodoPagos}">Metodos de Pago</h2>
            
                    <tr th:each="item : ${metodoPagos}">
                        <td th:text="${item.numeroCuenta}"></td>
                        
                    </tr>
                </tbody>
            </table>
        </section>
        <footer th:replace="layout/piePagina :: piePagina" ></footer>
    </body>
</html>
